*{
    font-family: playfair;
}

.hamburger {
    cursor: pointer !important;
}

.hamburger input {
    display: none !important;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em !important;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.line {
    fill: none !important;
    stroke: black !important;
    stroke-linecap: round !important;
    stroke-linejoin: round !important;
    stroke-width: 3 !important;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.line-top-bottom {
    stroke-dasharray: 12 63 !important;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg) !important;
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300 !important;
    stroke-dashoffset: -32.42 !important;
}

.hello {
    transition: top 1s ease-out !important;
}



.wrapper {
    display: inline-flex;
    list-style: none;
    height: 50px;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper .icon {
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 10px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -30px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
}

.wrapper .Pinterest:hover,
.wrapper .Pinterest:hover .tooltip,
.wrapper .Pinterest:hover .tooltip::before {
    background: red;
    color: #fff;
}

